
:root {
    --cal-tech-color-1: #003B4C;
    --cal-tech-color-2: #FF6C0C;
    --cal-tech-color-3: #C8C8C8;
    --cal-tech-color-4: #76777B;

}

/* Make the card header more compact */
.card-header {
    padding: 5px 10px;    /* Adjust padding */
    font-size: 14px;      /* Smaller font size for the header */
}

/* Make the card body more compact */
.card-body {
    padding: 8px 10px;    /* Adjust padding */
    font-size: 14px;      /* Smaller font size for the body */
}

.user-alert {
    background-color: var(--cal-tech-color-2) !important;
}
